ServiceTemperature.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">A temperature conversion service.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CelsusisToFahrenheit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="celsuis" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelsusisToFahrenheitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CelsusisToFahrenheitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelsusisToKelvin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="celsuis" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelsusisToKelvinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CelsusisToKelvinResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FahrenheitToCelsuis">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fahrenheit" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FahrenheitToCelsuisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FahrenheitToCelsuisResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FahrenheitToKelvin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fahrenheit" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FahrenheitToKelvinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FahrenheitToKelvinResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KelvinToCelsuis">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="kelvin" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KelvinToCelsuisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KelvinToCelsuisResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KelvinToFahrenheit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="kelvin" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KelvinToFahrenheitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KelvinToFahrenheitResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Metric">
        <s:complexType />
      </s:element>
      <s:element name="MetricResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MetricResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CelsusisToFahrenheitSoapIn">
    <wsdl:part name="parameters" element="tns:CelsusisToFahrenheit" />
  </wsdl:message>
  <wsdl:message name="CelsusisToFahrenheitSoapOut">
    <wsdl:part name="parameters" element="tns:CelsusisToFahrenheitResponse" />
  </wsdl:message>
  <wsdl:message name="CelsusisToKelvinSoapIn">
    <wsdl:part name="parameters" element="tns:CelsusisToKelvin" />
  </wsdl:message>
  <wsdl:message name="CelsusisToKelvinSoapOut">
    <wsdl:part name="parameters" element="tns:CelsusisToKelvinResponse" />
  </wsdl:message>
  <wsdl:message name="FahrenheitToCelsuisSoapIn">
    <wsdl:part name="parameters" element="tns:FahrenheitToCelsuis" />
  </wsdl:message>
  <wsdl:message name="FahrenheitToCelsuisSoapOut">
    <wsdl:part name="parameters" element="tns:FahrenheitToCelsuisResponse" />
  </wsdl:message>
  <wsdl:message name="FahrenheitToKelvinSoapIn">
    <wsdl:part name="parameters" element="tns:FahrenheitToKelvin" />
  </wsdl:message>
  <wsdl:message name="FahrenheitToKelvinSoapOut">
    <wsdl:part name="parameters" element="tns:FahrenheitToKelvinResponse" />
  </wsdl:message>
  <wsdl:message name="KelvinToCelsuisSoapIn">
    <wsdl:part name="parameters" element="tns:KelvinToCelsuis" />
  </wsdl:message>
  <wsdl:message name="KelvinToCelsuisSoapOut">
    <wsdl:part name="parameters" element="tns:KelvinToCelsuisResponse" />
  </wsdl:message>
  <wsdl:message name="KelvinToFahrenheitSoapIn">
    <wsdl:part name="parameters" element="tns:KelvinToFahrenheit" />
  </wsdl:message>
  <wsdl:message name="KelvinToFahrenheitSoapOut">
    <wsdl:part name="parameters" element="tns:KelvinToFahrenheitResponse" />
  </wsdl:message>
  <wsdl:message name="MetricSoapIn">
    <wsdl:part name="parameters" element="tns:Metric" />
  </wsdl:message>
  <wsdl:message name="MetricSoapOut">
    <wsdl:part name="parameters" element="tns:MetricResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceTemperatureSoap">
    <wsdl:operation name="CelsuisToFahrenheit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method converts a temperature in degrees Celsuis to a temperature in degrees Fahrenheit.</wsdl:documentation>
      <wsdl:input name="CelsusisToFahrenheit" message="tns:CelsusisToFahrenheitSoapIn" />
      <wsdl:output name="CelsusisToFahrenheit" message="tns:CelsusisToFahrenheitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CelsuisToKelvin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method converts a temperature in degrees Celsuis to a temperature in degrees Kelvin.</wsdl:documentation>
      <wsdl:input name="CelsusisToKelvin" message="tns:CelsusisToKelvinSoapIn" />
      <wsdl:output name="CelsusisToKelvin" message="tns:CelsusisToKelvinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelsuis">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method converts a temperature in degrees Fahrenheit to a temperature in degrees Celsius.</wsdl:documentation>
      <wsdl:input message="tns:FahrenheitToCelsuisSoapIn" />
      <wsdl:output message="tns:FahrenheitToCelsuisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToKelvin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method converts a temperature in degrees Fahrenheit to a temperature in degrees Kelvin.</wsdl:documentation>
      <wsdl:input message="tns:FahrenheitToKelvinSoapIn" />
      <wsdl:output message="tns:FahrenheitToKelvinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KelvinToCelsuis">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method converts a temperature in degrees Kelvin to a temperature in degrees Celsuis.</wsdl:documentation>
      <wsdl:input message="tns:KelvinToCelsuisSoapIn" />
      <wsdl:output message="tns:KelvinToCelsuisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KelvinToFahrenheit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method converts a temperature in degrees Kelvin to a temperature in degrees Fahrenheit.</wsdl:documentation>
      <wsdl:input message="tns:KelvinToFahrenheitSoapIn" />
      <wsdl:output message="tns:KelvinToFahrenheitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Metric">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Celsuis (Centigrade), Fahrenheit, Kelvin </wsdl:documentation>
      <wsdl:input message="tns:MetricSoapIn" />
      <wsdl:output message="tns:MetricSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceTemperatureSoap" type="tns:ServiceTemperatureSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CelsuisToFahrenheit">
      <soap:operation soapAction="http://tempuri.org/CelsusisToFahrenheit" style="document" />
      <wsdl:input name="CelsusisToFahrenheit">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CelsusisToFahrenheit">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelsuisToKelvin">
      <soap:operation soapAction="http://tempuri.org/CelsusisToKelvin" style="document" />
      <wsdl:input name="CelsusisToKelvin">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CelsusisToKelvin">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelsuis">
      <soap:operation soapAction="http://tempuri.org/FahrenheitToCelsuis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToKelvin">
      <soap:operation soapAction="http://tempuri.org/FahrenheitToKelvin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KelvinToCelsuis">
      <soap:operation soapAction="http://tempuri.org/KelvinToCelsuis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KelvinToFahrenheit">
      <soap:operation soapAction="http://tempuri.org/KelvinToFahrenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Metric">
      <soap:operation soapAction="http://tempuri.org/Metric" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceTemperatureSoap12" type="tns:ServiceTemperatureSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CelsuisToFahrenheit">
      <soap12:operation soapAction="http://tempuri.org/CelsusisToFahrenheit" style="document" />
      <wsdl:input name="CelsusisToFahrenheit">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CelsusisToFahrenheit">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelsuisToKelvin">
      <soap12:operation soapAction="http://tempuri.org/CelsusisToKelvin" style="document" />
      <wsdl:input name="CelsusisToKelvin">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CelsusisToKelvin">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelsuis">
      <soap12:operation soapAction="http://tempuri.org/FahrenheitToCelsuis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToKelvin">
      <soap12:operation soapAction="http://tempuri.org/FahrenheitToKelvin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KelvinToCelsuis">
      <soap12:operation soapAction="http://tempuri.org/KelvinToCelsuis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KelvinToFahrenheit">
      <soap12:operation soapAction="http://tempuri.org/KelvinToFahrenheit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Metric">
      <soap12:operation soapAction="http://tempuri.org/Metric" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceTemperature">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">A temperature conversion service.</wsdl:documentation>
    <wsdl:port name="ServiceTemperatureSoap" binding="tns:ServiceTemperatureSoap">
      <soap:address location="http://comfort.ephraimtech.com/WordOfGod/ServiceTemperature.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceTemperatureSoap12" binding="tns:ServiceTemperatureSoap12">
      <soap12:address location="http://comfort.ephraimtech.com/WordOfGod/ServiceTemperature.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>